* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  
}



/* Variables */
$bg-navBar: #313132;
$font-gray-color:rgb(220, 220, 220);
$font-white-color:#ffff;
