@mixin squareDimesions {
  width: 45vw;
  height: 40vw;
  margin: 5px;
}

.banners {
  background-color: #fbfbfd;
  .bannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    img {
      max-height: 100vh;
      margin-left: 50px;
      margin-top: 41px;
    }
    .bannerText {
      margin-right: 50px;
      .new {
        color: #bf4800;
        font-family: $font-text-light;
        font-size: 16px;
      }
      .iphoneSE {
        font-family: $font-display;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 13px;
        .SE {
          font-size: 14px;
          display: inline-flex;
          border: 2px solid black;
          border-radius: 5px;
          padding: 2px;
          text-align: center;
        }
      }
      .loveThe {
        font-family: $font-display;
        font-size: 40px;
        color: #2948b1;
      }
      button {
        background-color: #0071e3;
        color: white;
        font-family: $font-text-regular;
        padding: 8px 16px;
        border-radius: 90px;
        font-size: 18px;
        border: none;
        margin: 20px 0;
        cursor: pointer;
      }
    }
  }
  .squares {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a {
      text-decoration: none;
    }
    .sq1 {
      width: 45vw;
      height: 40vw;
      margin: 5px;
      background-color: #ffff;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 85%;
        margin-top: 50px;
        
      }
      .sq1Text {
        text-align: center;
        overflow-y: hidden;
        h2 {
          font-family: $font-display;
          font-size: 45px;
          margin: 5px;
        }
        p {
          font-family: $font-text-light;
          font-size: 25px;
          margin: 14px 0;
        }
        a {
          font-size: 22px;
          margin: 20px;
          color: #0071e3;
          text-decoration: none;
          font-family: $font-text-regular;
          height: auto;
          padding: 5px;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    .sq2 {
      width: 45vw;
      height: 40vw;
      margin: 5px;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      background-image: url("https://i.blogs.es/1b175d/image/1366_2000.png");
      .sq2Text {
        color: white;
        text-align: center;
        margin-top: 62%;
        h2 {
          font-family: $font-display;
          font-size: 50px;
        }
        p {
          font-family: $font-text-regular;
          margin: 8px;
          font-size: 20px;
        }
        a {
          font-size: 23px;
          margin: 20px;
          color: #0071e3;
          text-decoration: none;
          font-family: $font-text-regular;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    .sq3 {
      width: 45vw;
      height: 40vw;
      margin: 5px;
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 63%;
        margin-top: 15px;
        
      }
      .sq3Text {
        text-align: center;
        h2 {
          font-family: $font-display;
          font-size: 50px;
          display: inline-flex;
          margin:0 5px;
        }
        .ipadAir {
          color: #7d6dcf;
        }
        p {
          font-family: $font-text-light;
          font-size: 25px;
          margin: 10px 0;
        }
        a {
          font-size: 22px;
          margin: 20px;
          color: #0071e3;
          text-decoration: none;
          font-family: $font-text-regular;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    .sq4 {
      width: 45vw;
      height: 40vw;
      margin: 5px;
      background-color: #f5f5f7;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      img {
        width: 65%;
        margin-top: 10px;
      }
      .titleWatch {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-display;
        font-size: 37px;
        i {
          font-size: 2.7rem;
          margin-bottom: 8px;
          margin-right: 10px;
        }
        .watchSE {
          color: #c91f1f;
          margin-left: 8px;
        }
      }
      p {
        font-family: $font-text-light;
        font-size: 25px;
        margin: 10px 0;
      }
      a {
        font-size: 22px;
        margin: 20px;
        color: #0071e3;
        text-decoration: none;
        font-family: $font-text-regular;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  
}

@media (max-width: 1400px){

}







@media (max-width: 1000px) {
  .banners {
    .bannerContainer {
      flex-direction: column;
      img {
        margin: 0 !important;
        max-width: 100%;
      }
      .bannerText {
        margin-right: 0 !important;
        margin-top: 50px;
      }
    }
    .squares {
      .sq1 {
        width: 100%;
        height: auto;
      }
      .sq2 {
        width: 100%;
        height: auto;
      }
      .sq3 {
        width: 100%;
        height: auto;
      }
      .sq4 {
        width: 100%;
        height: auto;
      }
    }
  }
}
